.popup__container {
  background-color: #fff;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 34px 36px 37px;
  position: relative;
}

@media only screen and (max-width: 695px) {
  .popup__container {
    width: 282px;
    height: 322px;
    padding: 25px 22px;
  }
}
