.profile {
  display: flex;
  align-items: center;
  margin: 40px auto 50px;
}

@media only screen and (max-width: 920px) {
  .profile {
    margin: 40px 19px 50px 19px;
  }
}

@media only screen and (max-width: 695px) {
  .profile {
    flex-direction: column;
    max-width: 320px;
    margin: 42px auto 36px;
  }
}
