.card__like-button {
  background-image: url(./../../../images/like-button.svg);
  width: 22px;
  height: 19px;
  background-color: #fff;
  transition: opacity .4s linear;
}

.card__like-button:hover {
  opacity: .5;
}
