.footer__copyright {
  color: rgb(84, 84, 84);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media only screen and (max-width: 695px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}
