.popup__save-button {
  width: 100%;
  border: 0;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  cursor: pointer;
  outline: transparent;
  padding: 15px 0 16px;
}


.popup__save-button:hover {
  opacity: .8;
}

@media only screen and (max-width: 695px) {
  .popup__save-button {
    font-size: 14px;
    line-height: 17px;
    padding: 15px 0;
  }
}
